<div class= "banner-sektion banner-overlay ">
    <div class="container text-center">
        <div class="col-md-12">
            <div class="banner-heading ">
                <h2>Des événements incroyables à découvrir </h2>
                <P>Venez, qu'attendez-vous pour participer et organiser des Events de Strasbourg?</P>
                <div class="input-group">
                <button class="btn btn-secondary" href=" <%= new_event_path %>" type="submit"> Proposer un événement</button>
              </div>       
            </div>
          </div>
        </div>
      </div>