
  <footer class="fdb-block border-top footer-large pt-md-5">
  <div class="container">
    <div class="row align-items-top text-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-sm-left">
        <h3 class="text-primary mb-3">Menu</h3>
        <nav class="nav flex-column">
          <a class="nav-link active" href="#">Accueil</a>
          <a class="nav-link" href="#">Créer un évenement</a>
          <a class="nav-link" href="#">Team</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5 mt-sm-0 text-sm-left">
        <h3 class="text-primary mb-3">Espace Membre</h3>
        <nav class="nav flex-column">
          <a class="nav-link active" href="#">S'inscrire</a>
          <a class="nav-link" href="#">Se Connecter</a>
          <a class="nav-link" href="#">Déconnexion</a>
          <a class="nav-link" href="#">Support</a>
        </nav>
      </div>

      <div class="col-12 col-md-4 col-lg-3 text-md-left mt-5 mt-md-0">
        <h3 class="txtmb-3">A Propos</h3>
        <p class="txt-primary">Parce que c'est en rencontrant des gens qu'on avance, Event Brite a décidé d'exister pour rapprocher les Strasbourgeois autour de cause commune.</p>
      </div>

      <div class="col-12 col-lg-2 ml-auto text-lg-left mt-4 mt-lg-0">
        <h3 class="text-primary mb-3">Réseaux Sociaux</h3>
        <p class="lead">
          <a href="#" class="mx-2"><i class="fab fa-facebook" aria-hidden="true"></i></a>
          <a href="#" class="mx-2"><i class="fab fa-instagram" aria-hidden="true"></i></a>
          <a href="#" class="mx-2"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          <a href="#" class="mx-2"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col text-center">
        © 2019 EventBrite
      </div>
    </div>
  </div>
</footer>